---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const data = await fetch(
    "https://sqqqyffuhusqdvjkshxf.supabase.co/rest/v1/ux_speakers",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxcXF5ZmZ1aHVzcWR2amtzaHhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYzMzY4MDcsImV4cCI6MjAxMTkxMjgwN30.-K3pBEiuVw9Mv5jbVumfGHI6bYW6POCXvQuTh_bDzMM",
      },
    }
  ).then((response) => response.json());

  return data.map((speaker) => {
    return {
      params: { slug: speaker.slug },
      props: { myData: speaker },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);

/*{
id: 1,
  created_at: '2023-10-03T12:55:44.688438+00:00',
  name: 'Mansi Gupta',
  jobposition: 'Founder of Unconform and partner',
  about: 'Mansi is the founder of Unconform, where she partners with organizations to incorporate a women-centric design approach. She created Women-Centric Design methodology and writes the newsletter Unconforming. She also curates Design for Women Conversations. \n' +
    '\n' +
    'With over 10 years of experience in behavioral research and design strategy, she previously worked on financial inclusion projects at Women’s World Banking and designed games for reproductive healthcare research in rural India at Final Mile Consulting. Mansi holds a BA in Computer Science & Economics and an MFA in Products of Design, and she is based in Amsterdam with roots in India.',
  contact: 'linkedin',
  image: 'web.p',
  tags: 'uxdesigner, speaker',
  slug: 'MansiGupta'
}*/
---

<Layout>
  <article class="single">
    <section class="col1">
      <img
        class="portraitImage"
        src=`../public/imagesVol2/${myData.image}`
        alt={myData.slug}
      />
    </section>
    <section class="col2">
      <h2 class="name">{myData.name}</h2>
      <h3 class="jobposition">{myData.jobposition}</h3>
      <p class="about">{myData.about}</p>
      <img class="linkedin" src="/imagesVol2/linkedin.png" alt="">
    </section>
    <!--<p>{myData.image}</p>-->
  </article>
</Layout>

<style>
  .single {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    font-family: Mulish;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .jobposition{
    margin-top: -3rem;
    color: rgb(121, 121, 121);
    font-size: large;
  }



.name, .jobposition, .about, .contact{
  line-height: 1.7;
  /*margin-top: 1rem;*/
  margin-left: 0rem;
}

.name{
  font-size: 3rem;
}

.about{
  margin-top: 3rem;
  max-width: 80%;
}
  .portraitImage {
    width: 25rem;
    margin-left: 8rem;
  }

  .linkedin{
    width: 5rem;
    margin-left: -1rem;
    margin-top: 1.7rem;
  }
</style>
